.App {
  background-color: #be7f7c;
  text-align: center;
  width: 100%;
  height: 767px;
}

.singleLatestPost {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
}

img.medal {
  height: 80px;
  padding: 30px 0 0 0;
}

.home-container {
  display: flex;
  justify-content: center;
  height: 110px;
}

h6 {
  margin: 10px;
}

.merit-title { 
  color: transparent;
  font-size: 50px;
  padding: -10px 0 10px 0;
  animation-name: merit;
  animation-duration: 1.7s;
  animation-delay: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  transition: 2s;
}

@keyframes merit {
  0% {
    top: 0px;
    color: transparent;
    transform: translateY(0%);
  }

  100% {
    top: 400px;
    color: black;
    transform: translateY(50%);
  }
}


.stars {
    display: flex;
    justify-content: center;
}

#star-1 {
    visibility: hidden;
}

#star-2 {
    visibility: hidden;
}

#star-3 {
    visibility: hidden;
}

#star-4 {
    visibility: hidden;
}

#star-5 {
    visibility: hidden;
}